{% extends "base.html" %}

{% block content %}

<div class="container">
    <form action="" method='POST'>
        {% csrf_token %}
        <div class="username">
        <div class="form-label mx-2 fw-bold">
            {{form.username.label}}
        </div>
        <div class="form-control border-8">
            {{form.username}}
        </div>
        <!-- <button class="btn btn-success" type="submit">login</button> -->
    </div>
    <div class="passoerd">
        <div class="form-label mx-2 fw-bold">
            {{form.password.label}}
        </div>
        <div class="form-control border-8">
            {{form.password}}
        </div>
        <h6> Don't have account ? <a href="{% url "users:register" %}">Ragister</a></h6>
        <button class="btn btn-success" type="submit">login</button>
    </div>
    </form>
</div>

{% endblock content %}